// -----------------------------------------------------------------------------
// This file contains animation rules
// -----------------------------------------------------------------------------


// Mixin component
@include animated_delay;
@include animated_duration;

@keyframes circleZoom{
  0%{
    @include transform(scale(1));
  }
  75%{
    @include transform(scale(1.25));
  }
  100%{
    @include transform(scale(1));
  }
}

@keyframes fadeOut{
  from{
    @include opacity(1);
  }
  to{
    @include opacity(0);
  }
}

@keyframes fadeIn{
  from{
    @include opacity(0);
  }
  to{
    @include opacity(1);
  }
}

@keyframes slideDownSplashscreen{
  from{
    top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  to{
    top: 55%;
    border-top-right-radius: standard(default, br_xl);
    border-top-left-radius: standard(default, br_xl);
  }
}