%visibility-config{
  @include opacity(1);
  @include animation(fadeOut 1s ease);
  @include animation-fill-mode(forwards);
  @include animation-delay(1.5s);
}

.content-panel{
  &.splash-screen{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: standard(default, gradient_green);
    @include animation(slideDownSplashscreen 600ms ease);
    @include animation-fill-mode(forwards);
    @include animation-delay(2.25s);
    @include flexCenter;
    .visibility-circle-object{
      position: absolute;
      margin: auto;
      @extend %visibility-config;
    }
    .circle-animated{
      height: 220px;
      width: 220px;
      border-radius: 50%;
      background: set_color(transparent_white, 30);
      @include animation(circleZoom 2s ease-out infinite);
    }
    .logo-container{
      height: 140px;
      width: 140px;
      padding: standard(default, p_xs);
      background: standard(default, accent_0);
      border-radius: standard(default, br_md);
      @extend %visibility-config;
    }
    + .circle-accent{
      position: absolute;
      width: 100%;
      display: flex;
      flex-direction: row;
      bottom: 0;
      > div{
        width: 50%;
        height: 100px;
        display: block;
        position: relative;
        @include opacity(0);
        @include animation(fadeIn 1s ease);
        @include animation-fill-mode(forwards);
        @include animation-delay(2.8s);
        &::before{
          content: '';
          background: set_color(transparent_white, 20);
          height: 100px;
          width: 100px;
          margin: auto;
          top: 80px;
          border-radius: 50%;
          position: absolute;
          @include transform(scale(4));
        }
        &:last-child{
          @include animation-delay(3s);
          &::before{
            top: 50px;
            right: 0;
          }
        }
      }
    }
  }
  &.login-screen{
    position: absolute;
    top: 55%;
    left: 0;
    height: 100%;
    width: 100%;
    border-top-right-radius: standard(default, br_xl);
    border-top-left-radius: standard(default, br_xl);
    background: standard(default, gradient_green);
    + .content-item{
      height: 100%;
      text-align: center;
      height: 100%;
      &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 50%;
        height: 6px;
        margin: 0 auto 1.25rem;
        border-radius: 50px;
        @include transform(translate(-50%, 0));
        background: standard(default, primary_75);
      }
      > .carousel-illustration{
        width: 75%;
        height: 55%;
        margin: 0 auto;
        @include flexCenter;
      }
      > .item-description{
        position: relative;
        padding: standard(default, p_sm) standard(default, p_md);
        padding-bottom: 32%;
        height: 45%;
        @include flexCenterY;
        flex-direction: column;
        > .title{
          @include font_type(Bold);
          @include font_size(set(text, xl));
          color: standard(default, accent_0);
          text-align: center;
          margin: standard(default, p_md) auto standard(default, p_sm);
        }
      }
    }
    &.dark{
      background: standard(default, background_lighter);
      + .content-item{
        > .item-description{
          > .title{
            color: standard(default, primary_75);
          }
        }
      }
    }
  }
  &.carousel{
    &#splashScreenIndicator{
      @include opacity(0);
      @include animation(fadeIn 1s ease);
      @include animation-fill-mode(forwards);
      @include animation-delay(2.5s);
    }
  }
}

.token-scroll-container{
  max-height: 30rem;
  overflow-y: auto;
}