// -----------------------------------------------------------------------------
// This file contains card ui component rules
// -----------------------------------------------------------------------------

.card{ 
  border-radius: standard(default, br_xs);
  &.card-dark{
    background: standard(default, background_lighter);
    p, h1, h2, h3, h4, h5, span, div, label{
      color: standard(default, accent_0);
    }
  }
  .card{
    &-body{
      padding: 1.75rem 1.25rem;
      .fa-angle-right{
        margin-left: auto;
        color: standard(default, accent_60);
        @include font_size(set(text, lg));
      }
    }
    &-header{
      background: standard(default, primary_75);
      border-top-left-radius: standard(default, br_xs);
      border-top-right-radius: standard(default, br_xs);
    }
    &-footer{
      border-bottom-left-radius: standard(default, br_xs);
      border-bottom-right-radius: standard(default, br_xs);
    }
    &-link{
      display: flex;
      align-items: center;
      line-height: 1.2;
      padding: 10px 0;
      height: 46px;
      width: 100%;
      margin: 0;
      color: standard(default, accent_0);
      >.card-icon{
        margin-right: 15px;
        width: 20px;
        text-align: center;
      }
    }
  }

  .angle-w-label{
    @include flexCenterX;
    >span{
      max-width: 100px;
      color: standard(default, accent_60);
      @include text-ellipsis;
    }
    .fa-angle-right{
      margin-left: 5px;
    }
  }

  &.card-summary{
    border-radius: standard(default, br_xs);
    background: standard(default, gradient_green);
    .card-body{
      padding: 1rem 1rem;
      .title,
      .balance-total{
        color: standard(default, accent_0);
      }
      .title{
        margin-bottom: 2px;
      }
      .balance-total{
        margin-bottom: 0;
        @include font_type(Bold);
      }
    }
  }

  &.card-unit-activity{
    border-radius: standard(default, br_xs);
    .chart-val{
      position: absolute;
      height: 50px;
      width: 100%;
      left: 0;
      top: 0;
      text-align: right;
      flex-direction: column;
      @include flexCenter;
      align-items: flex-end;
      .plotLines-divider{
        display: block;
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed standard(default, accent_80);
        margin: 5px 0;
      }
      .val{
        &-current{
          @include font_type(Bold);
          line-height: 1;
        }
        &-condition{
          color: standard(default, accent_60);
          @include font_size(set(text, xs));
          line-height: 1;
        }
      }
    }
  }

  &.card-apps{
    >.card-body{
      line-height: 1;
      text-align: justify;
    }
  }

  &.card-swap-field{
    .choose-token{
      display: flex;
      flex-direction: row;
      line-height: 1.2;
      >.token-icons{
        width: 24px;
        min-width: 24px;
        margin-right: 10px;
      }
      >.info{
        position: relative;
        display: flex;
        flex-direction: column;
        padding-right: 15px;
        .token-names,
        small{
          display: block;
        }
        .token-names{
          @include text-ellipsis;
          max-width: 3.7rem;
        }
        &::before{
          content: '\f107';
          @include fontawesome;
          position: absolute;
          right: 0;
          top: 0;
          margin-top: 3px;
          @include font_size(set(text, sm));
        }
      }
    }
    .swap-container{
      @include flexCenter;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        border-right: 1px dashed standard(default, accent_60);
        height: 100%;
        top: 0;
        left: 50%;
        @include transform(translate(-50%, 0));
      }
    }
    .form-group{
      margin-bottom: 0;
      label{
        margin-bottom: 0;
        @include font_size(set(text, sm));
      }
    }
  }

  &.card-profile-membership{
    .card-body{
      display: flex;
      flex-direction: row;
      align-items: center;
      .profile-pic{
        width: 50px;
        margin-right: 15px;
        img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .profile-info{
        padding-right: 15px;
        >h5{
          margin-bottom: 2px;
        }
      }
    }
  }

  &.card-qr-container{
    .qr-content{
      >.wrapper-image{
        margin: 0 auto;
        width: 200px;
      }
    }
  }
}