// -----------------------------------------------------------------------------
// This file contains carousel ui component rules
// -----------------------------------------------------------------------------

.carousel{
  &#splashScreenIndicator{
    .carousel{
      &-inner{
        height: 100%;
      }
      &-indicators{
        margin-bottom: 1.5rem;
      }
      &-item{
        text-align: center;
        height: 100%;
        > .carousel-illustration{
          width: 75%;
          height: 55%;
          margin: 0 auto;
          @include flexCenter;
        }
        > .item-description{
          position: relative;
          padding: standard(default, p_sm) standard(default, p_md);
          padding-bottom: 32%;
          height: 45%;
          @include flexCenterY;
          flex-direction: column;
          >.title,
          >.caption{
            color: standard(default, accent_0);
          }
          > .title{
            @include font_type(Bold);
            @include font_size(set(title, lg));
            text-align: center;
            margin: standard(default, p_md) auto;
          }
          > .caption{
            text-align: center;
          }
          > .btn{
            position: absolute;
            bottom: 0;
            margin-bottom: 18%;
            /* standard padding_sm 1.75rem * 2 (left & right) = 3.5rem */
            width: calc(100% - 3.5rem);
          }
        }
      }
    }
  }
}