// -----------------------------------------------------------------------------
// This file contains forms ui component rules
// -----------------------------------------------------------------------------

.form-control{
  padding: .55rem 1rem;
  &.form-rounded{
    border-radius: 25px;
  }
  
  $btnSize: ('xs', 30px),
  ('sm', 40px),
  ('md', 50px),
  ('lg', 60px),
  ('xl', 70px);

  @each $state, $btnHeight in $btnSize{
      &.form-#{$state}{
          height: $btnHeight;
          min-height: $btnHeight;
      }
  }

  &.form-dark{
    background: standard(default, background);
    color: standard(default, primary_75);
    border: 0;
  }

  &.form-swap{
    background: standard(default, background_lighter);
    color: standard(default, primary_75);
    border: 0;
    padding: 0;
  }

  
  &:focus{
    outline: 0 none!important;
    box-shadow: unset!important;
    border-color: transparent!important;
  }

}

.custom-control-input{
  &:checked{
    &~.custom-control-label{
      &::before{
        border-color: standard(default, primary_75);
        background-color: standard(default, primary_75);
      }
    }
  }
}

.upload-image{
  margin: 0 auto;
  width: 100px;
  cursor: pointer;
  display: block;
  >img{
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.custom-choosen-select{
  padding: 2px;
  >a{
    display: block;
    background: standard(default, background);
    padding: 6px 12px;
    width: 100%;
    border-radius: 2px;
    text-align: center;
  }
  &.active{
    >a{
      background: standard(default, primary_75);
      color: standard(default, accent_0);
    }
  }
}