// -----------------------------------------------------------------------------
// This file contains input group ui component rules
// -----------------------------------------------------------------------------

.input-group{
  .input-group{
    &-prepend{
      &.rounded{
        .input-group-text{
          border-top-left-radius: 50px;
          border-bottom-left-radius: 50px;
          padding-left: 20px;
        }
      }
    }
    &-append{
      &.rounded{
        .input-group-text{
          border-top-right-radius: 50px;
          border-bottom-right-radius: 50px;
          padding-right: 20px;
        }
      }
    }
    &-prepend,
    &-append{
      &.dark{
        .input-group-text{
          border: 0;
          background: standard(default, background);
          color: standard(default, primary_75);
          >i{
            color: standard(default, primary_75);
          }
        }
      }
    }
  }
}