// -----------------------------------------------------------------------------
// This file contains list group ui component rules
// -----------------------------------------------------------------------------

.list-group{
  .list-group-item{
    background: standard(default, background_lighter);
  }
  &.token-list{
    .token-items{
      @include flexCenterY;
      flex-direction: row;
      .icon{
        height: 36px;
        width: 36px;
        border-radius: 50%;
        padding: 5px;
        margin-right: 15px;
        @include flexCenter;
      }
      .tokens-info{
        >*{
          display: block;
          max-width: 200px;
          @include text-ellipsis;
        }
      }
      .token-available{
        margin-left: auto;
        color: standard(default, accent_60);
        @include font_size(set(text, sm));
      }
    }
  }
  &.list-group-collapse{
    >.list-group-item{
      padding: 0;
      display: inline-block
    }
    [data-toggle=collapse]{
      @include flexCenterY;
      padding: .75rem 1.25rem;
      color: standard(default, accent_0);
      &::after{
        content: '\f107';
        @include fontawesome;
        margin-left: auto;
      }
      &[aria-expanded=true]{
        &::after{
          content: '\f106';
        }
      }
      +.collapse,
      +.collapsing{
        background: transparent!important;
        .card{
          background: transparent;
          &.card-body{
            @include font_size(set(text, md));
            padding: 0 1.25rem 1rem;
            color: standard(default, accent_60);
          }
        }
      }
      &.static-label{
        &::after{
          margin-left: 10px;
        }
      }
    }
  }
}