// -----------------------------------------------------------------------------
// This file contains media object ui component rules
// -----------------------------------------------------------------------------

.icon-action-result{
  width: 200px;
  margin: 0 auto;
}

.media{
  >img{
    width: 42px;
  }
  .media{
    &-body{
      .title{
        display: block;
        text-transform: uppercase;
        color: standard(default, primary_75);
        margin-bottom: 5px;
        @include font_type(SemiBold);
        @include font_size(set(text, lg));
      }
      .caption{
        line-height: 1.25;
        color: standard(default, accent_40);
        @include font_size(set(text, sm));
        >.date{
          width: 100px;
          text-align: right;
        }
      }
    }
  }
  &.media{
    &-notification{
      .icon{
        margin-top: 3px;
        border-radius: 50%;
        padding: 5px;
        height: 44px;
        width: 44px;
        >img{
          width: 100%;
        }
      }
    }
  }
}