// -----------------------------------------------------------------------------
// This file contains modal ui component rules
// -----------------------------------------------------------------------------

.modal{
  .modal{
    &-dialog{
      padding: 1.25rem;
    }
    &-content{
      border-radius: standard(default, br_sm);
      background: standard(default, background_lighter);
      border: 0;
    }
    &-header,
    &-body,
    &-footer{
      border: 0;
      p, h1, h2, h3, h4, h5, span, div, label{
        color: standard(default, accent_0);
      }
    }
  }
  &-backdrop{
    &.show{
      @include opacity(0.8);
    }
  }
}