// -----------------------------------------------------------------------------
// This file contains navs ui component rules
// -----------------------------------------------------------------------------

.tab-content{
  &.tab-content-dashboard{
    min-height: 100%;
    height: 100%;
  }
}

.nav-tabs{
  border-bottom-width: 2px;
  border-bottom-color: standard(default, background_lighter);
  .nav-item{
    &.show{
      .nav-link{
        background: standard(default, background_lighter);
        color: standard(default, primary_75);
      } 
    } 
  }
  .nav-link{
    border: 0;
    color: standard(default, accent_60);
    &.active{
      background: standard(default, background_lighter);
      color: standard(default, primary_75);
    }
  }
} 