// -----------------------------------------------------------------------------
// This file contains base rules for sass
// -----------------------------------------------------------------------------

// Set background,text and selection condition color
html,
body {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100%;

  .main-content {
    background: standard(default, background);
    height: 100%;
    width: 100%;
    &.splashscreen {
      overflow: hidden;
      position: relative;
      height: 100%;
      width: 100%;
    }

    $headerHeight: 60px;

    .main-header {
      width: 100%;
      height: $headerHeight;
      background: standard(default, background_lighter);
      margin-bottom: 15px;
      .header-action {
        color: standard(default, accent_0);
        &:hover {
          color: standard(default, primary_75);
        }
        &-left {
          width: $headerHeight;
          height: $headerHeight;
          display: block;
          @include flexCenter;
          @include font_size(set(title, md));
          > i {
            @include font_size(set(title, md));
          }
        }
      }
      .header-title {
        color: standard(default, accent_0);
        @include font_size(set(title, sm));
        @include flexCenter;
        text-align: center;
        height: $headerHeight;
      }
    }
    .main-body,
    .body-content {
      min-height: calc(100% - #{$headerHeight});
      &.vertical-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }

    &.generic-view {
      padding-bottom: 4.5rem;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 50%;
        height: 6px;
        margin: 0 auto 1.25rem;
        border-radius: 50px;
        @include transform(translate(-50%, 0));
        background: standard(default, primary_75);
      }
    }

    &.dashboard-view{
      .main-viewport{
        position: relative;
        padding-bottom: 71px;
        min-height: 100%;
      }
    }

  }
}
