// -----------------------------------------------------------------------------
// This file contains fonts configuration that your site will used (BETA)
// -----------------------------------------------------------------------------

$fontName: 'Roboto';

// Simply used text type in your application site
// Example of use: class="text-bold" or class="text-regular"
$fontType: ("light", sans-serif, 300, 0), 
("light-italic", sans-serif, 300, 1), 
("regular", sans-serif, 400, 0), 
("regular-italic", sans-serif, 400, 1), 
("semi-bold", sans-serif, 500, 0), 
("semi-bold-italic", sans-serif, 500, 1), 
("bold", sans-serif, 700, 0), 
("bold-italic", sans-serif, 700, 1), 
("black", sans-serif, 900, 0),
("black-italic", sans-serif, 900, 1);

@each $class, $family, $weight, $style in $fontType {
    .text-#{$class} {
        font-family: $fontName, $family ;
        font-weight: $weight;
        @if($style == 1){
            font-style: italic;
        }
    }
}

// Font type mixins Settings
// Example use: @include font-type(type of font);
@mixin font-type($type) {
    @if($type == 'Light'){
        @extend .text-light;
    }
    @if($type == 'LightItalic'){
        @extend .text-light-italic;
    }
    @if($type == 'Regular'){
        @extend .text-regular;
    }
    @if($type == 'RegularItalic'){
        @extend .text-regular-italic;
    }
    @if($type == 'SemiBold'){
        @extend .text-semi-bold;
    }
    @if($type == 'SemiBoldItalic'){
        @extend .text-semi-bold-italic;
    }
    @if($type == 'Bold'){
        @extend .text-bold;
    }
    @if($type == 'Bolditalic'){
        @extend .text-bold-italic;
    }
    @if($type == 'Black'){
        @extend .text-black;
    }
    @if($type == 'BlackItalic'){
        @extend .text-black-italic;
    }
}

// You can simply called font-size in your class attribute
// Example of use: class="text-xl" or class="title-md"
$typoStates: text, title;
@each $states in $typoStates {
    $typoSize: xs, sm, md, lg, xl;
    @each $size in $typoSize {
        .#{$states}-#{$size} {
            @include font_size(set(#{$states}, #{$size}), !important);
        }
    }
}

$textStates: ('primary', standard(default, primary_75)),
('secondary', standard(default, secondary_75)),
('primary', standard(default, success_75)),
('primary', standard(default, info_75)),
('primary', standard(default, danger_75)),
('primary', standard(default, primary_75)),
('primary', standard(default, primary_75)),
('primary', standard(default, primary_75));