// -----------------------------------------------------------------------------
// This file contains typography rules
// -----------------------------------------------------------------------------


body {
    @include font-type(Regular);
    @include font_size(set(text, md));
}

a {
    color: standard(default, primary_75);
    &:hover {
        color: standard(default, primary_50);
        text-decoration: none;
    }
}

p{
    margin-bottom: 0;
}


$textStates: ('primary', standard(default, primary_75)),
('secondary', standard(default, secondary_75)),
('success', standard(default, success_75)),
('danger', standard(default, danger_75)),
('warning', standard(default, warning_75)),
('info', standard(default, info_75)),
('accent-0', standard(default, accent_0)),
('accent-20', standard(default, accent_20)),
('accent-40', standard(default, accent_40)),
('accent-60', standard(default, accent_60)),
('accent-80', standard(default, accent_80)),
('accent-100', standard(default, accent_100));

@each $states, $colors in $textStates{
    .text-#{$states}{
        color: $colors !important;
    }
}