// -----------------------------------------------------------------------------
// This file contains style related to the header of the site/application.
// -----------------------------------------------------------------------------

.header-content{
  position: relative;
  padding: standard(default, p_sm);
  background: standard(default, gradient_green);
  &::after{
    content: '';
    height: 32px;
    width: 100%;
    bottom: -1px;
    left: 0;
    position: absolute;
    background: standard(default, background);
    border-top-left-radius: standard(default, br_lg);
    border-top-right-radius: standard(default, br_lg);
  }
  .header-accent{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    >span{
      position: absolute;
      display: block;
      height: 300px;
      width: 300px;
      top: 0;
      right: 0;
      border-radius: 50%;
      background: set_color(transparent_white, 20);
      &:first-child{
        top: -90%;
        right: -10%;
      }
      &:last-child{
        top: -40%;
        right: -40%;
      }
    }
  }
  .toggle-image{
    width: 32px;
  }
  .button-notification{
    position: relative;
    height: 32px;
    width: 32px;
    a{
      @include font_size(set(title, md));
      color: standard(default, accent_0);
      &:hover{
        color: standard(default, warning_75);
      }
    }
    &.has-notification{
      &::after{
        content: '';
        height: 12px;
        width: 12px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: 5px;
        right: 7px;
        background: standard(default, warning_75);
      }
    }
  }
}