// -----------------------------------------------------------------------------
// This file contains style related to the sidebar of the site/application.
// -----------------------------------------------------------------------------


body{
  background: standard(default, background);
}
#sidebar{
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow-y: auto;
  z-index: 5;
  @include transition(all 300ms ease);
  @include transform(translate(-260px, 0));
  &.shown{
    @include transform(translate(0, 0));
  }
  .sidebar-dialog{
    position: relative;
    padding: 15px 0;
    height: 100%;
    background: standard(default, background_deeper);
    .sidebar-title{
      color: standard(default, accent_60);
      margin-bottom: 8px;
      margin-top: 1rem;
      padding: 0 1rem;
    }
    .sidebar-menu{
      @include reset-list;
      >.sidebar-item{
        .sidebar-link{
          display: flex;
          width: 100%;
          padding: .75rem 1rem;
          color: standard(default, accent_0);
          background: standard(default, background);
          border-bottom: 1px solid standard(default, accent_100);
        }
      }
    }
    .close-sidebar{
      position: absolute;
      top: 18px;
      right: 0;
      padding: 6px;
      height: 45px;
      width: 45px;
      display: block;
      line-height: 1;
      @include flexCenter;
      color: standard(default, accent_60);
      @include font_size(set(text, xl));
    }
  }
}
.sidebar-backdrop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: standard(default, background);
  opacity: 0.8;
}
.sidebar-open{
  .main-content{
    @include transition(all 300ms ease);
    @include filter(blur(5px));
  }
}